* {
	all: unset;
	transition-property: all;
	transition-duration: .25s;
}

#waybar {
	border-color: #000000;
	color: #ccc;
	font-size: 1em;
	font-family: Symbols Nerd Font, Noto Sans Medium;
	background-color: #111;
}

/*
 *  Swaybar specific
 */

tooltip {
	background: #181818;
	color: #fff;
	border: 3px solid #333333;
	padding: 3px;
	font: 1em mono;
}

/* Make sure labels have some spacing around themselves */
widget label {
	padding: 0 2px;
}

/* Style workspaces */

#workspaces > button {
	min-width: 22px;
	margin: 2px 2px;
	padding: 1px;
}

#workspaces > button.visible {
	box-shadow: inset 0 0 2px #b3b3b3, 1.5px 1.5px #444;
	border: 1px solid #aaa;
	background-color: #999;
	color: #111;
}

#workspaces > button.focused {
	/*Old floating button effect, worth preserving somewhere*/
	/*box-shadow: 2.5px 2.5px #aaa, 1.5px 1.5px #888;*/
	box-shadow: inset 0 0 2px #fff, 1.5px 1.5px #aaa;
	border: 1px solid #eee;
	background-color: #aaa;
	color: #111;
}

#workspaces > button.urgent, #mode {
	background-color: #733400;
	border: 1px solid #a64a00;
	box-shadow: inset 0 0 2px #bf5500, 1.5px 1.5px #8a3e00;
	color: #fff;
}

/*inactive labels*/

#pulseaudio.muted, #network.disconnected, #keyboard-state > label:not(.locked), .service-inactive {
	opacity: .3;
}

/*Colored labels*/

/*Very Very ok, attention, green*/
#battery.charging.full {
	background-color: #366B04;
	box-shadow: inset 0 0 3px #4E9A06, 1.5px 1.5px #366B04;
	border: 1px solid #4E9A06;	
	color: #eee;
}

/*Very ok indicator, green*/
#pulseaudio.high, #battery.charging, .service-notify-ok {
	color: #73D216;
}

/*Warning but uncritical red*/
#network.low-signal:not(.disconnected), #cpu.high-cpu, #memory.low-memory, #disk.high, .service-warning {
	color: #ef2929;
}

/*Slightly attention grabbing orange*/
#pulseaudio.loud, #battery.warning:not(.charging), #memory.very-low-memory, #disk.very-high, .service-attention {
	color: #F57900;
}

/*Critical blinking red*/
@keyframes critical-blink-box {
    to {
        background-color: #cc241d;
		border: 1px solid #fb4934;
		box-shadow: inset 0 0 3px #fb4934, 1.5px 1.5px #cc241d;
    }
}

#battery.critical:not(.charging), #memory.critical-memory, #disk.critical, .service-critical {
	animation-name: critical-blink-box;
	padding: 0 4px;
	margin: 0;
	animation-duration: .5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	border: 1px solid #66120f;
	background-color: #330907;
	box-shadow: inset 0 0 3px #66120f, 1.5px 1.5px #66120f;

}

@keyframes critical-blink-text {
    to {
        color: #ef2929;
    }
} 

#pulseaudio.very-loud, #cpu.full-cpu {
	animation-name: critical-blink-text;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/*Boxed widgets*/

/*Workpace widgets are special*/
#waybar > box > box > widget > *:not(#workspaces)  {
	margin: 3px 2px;
	padding: 1px 3px;
}

box.modules-right {
	padding-right: 2px;
}

/* Color clock differently */

box.modules-right > widget > #clock {
	box-shadow: inset 0 0 2px #346466, 1.5px 1.5px #305c5e;
	border: 1px solid #356669;
	background-color: #203e40;
}

/* #mode is styled above with the workspace switcher */

/*Use a monospace font for monitoring section*/
box.modules-right > widget > * {
	font-family: Noto Sans Mono;
	background-color: #222;
	box-shadow: 1.5px 1.5px #181818;
}

/*Hide widgets that shpuld only show up in a specific place*/

widget:not(:nth-child(1)) > .in1stplace, 
widget:not(:nth-child(2)) > .in2ndplace,
widget:not(:nth-child(3)) > .in3rdplace,
widget:not(:nth-child(4)) > .in4thplace,
widget:not(:nth-child(5)) > .in5thplace,
widget:not(:nth-child(6)) > .in6thplace {
	font-size: 0;
	transition-property: font-size;
	transition-duration: 0s;
	padding: 0;
	margin: 0;
}
